snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

Scraping a specific Twitter userâ€™s tweets

Let's use this handle: @KimKardashian

Using the code, we can scrape 100 tweets from Twitter user @KimKardashian.
We then pulled the DateTime, tweet id, text, and username attributes from the tweet objects.

In [2]:
# Creating list to append tweet data 
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
handle = 'hmetromy'

# declare a username 
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('from:' + handle).get_items()): 
    if i > 10: #number of tweets you want to scrape
        break
        
    #declare the attributes to be returned
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [3]:
tweets_df1.shape

(11, 4)

In [4]:
tweets_df1.head()

,Datetime,Tweet Id,Text,Username
0,2022-02-17 08:35:55+00:00,1494229109538447362,#petalingjaya Itu helah digunakan seorang wani...,hmetromy
1,2022-02-17 08:28:30+00:00,1494227242733424642,#ampang Biarpun dirinya menghidap penyakit kro...,hmetromy
2,2022-02-17 08:25:35+00:00,1494226506591125506,#KualaLumpur Pelawak dan pelakon popular Zizan...,hmetromy
3,2022-02-17 08:20:56+00:00,1494225338544570368,#kualaterengganu Seorang lelaki terlepas hukum...,hmetromy
4,2022-02-17 08:13:59+00:00,1494223588748152833,#alorsetar Polis mengesahkan mangsa kes tetak ...,hmetromy

# Translating Malay Tweets to English

In [5]:
from googletrans import Translator
import pandas as pd
translator = Translator()



tweets_df1['Translated Text'] = tweets_df1['Text'].apply(translator.translate,src='ms',dest='en').apply(getattr,args=('text',))

tweets_df1.head()

,Datetime,Tweet Id,Text,Username,Translated Text
0,2022-02-17 08:35:55+00:00,1494229109538447362,#petalingjaya Itu helah digunakan seorang wani...,hmetromy,#petalingjaya Itu helah digunakan seorang wani...
1,2022-02-17 08:28:30+00:00,1494227242733424642,#ampang Biarpun dirinya menghidap penyakit kro...,hmetromy,#ampang Biarpun dirinya menghidap penyakit kro...
2,2022-02-17 08:25:35+00:00,1494226506591125506,#KualaLumpur Pelawak dan pelakon popular Zizan...,hmetromy,#KualaLumpur Pelawak dan pelakon popular Zizan...
3,2022-02-17 08:20:56+00:00,1494225338544570368,#kualaterengganu Seorang lelaki terlepas hukum...,hmetromy,#kualaterengganu Seorang lelaki terlepas hukum...
4,2022-02-17 08:13:59+00:00,1494223588748152833,#alorsetar Polis mengesahkan mangsa kes tetak ...,hmetromy,#alorsetar Polis mengesahkan mangsa kes tetak ...

In [7]:
result = translator.translate('MitÃ¤ sinÃ¤ teet' , dest='en')

print(result)

Translated(src=en, dest=en, text=MitÃ¤ sinÃ¤ teet, pronunciation=MitÃ¤ sinÃ¤ teet, extra_data="{'translat...")

In [6]:
translation = translator.translate("Wie gehts ?", src="de")
print(f"{translation.origin} ({translation.src}) --> {translation.text} ({translation.dest})")

Wie gehts ? (en) --> Wie gehts ? (en)

In [9]:
translation = translator.translate("Hola Mundo", src="es")
print(f"{translation.origin} ({translation.src}) --> {translation.text} ({translation.dest})")

Hola Mundo (en) --> Hola Mundo (en)

# Saving Tweet Dataframe to a CSV file

In [ ]:
tweets_df1.to_csv("hmetromy_tweets.csv", index = False)

# Twint

In [ ]:
import pandas as pd
import twint
import nest_asyncio
nest_asyncio.apply()
  
t = twint.Config()

# t.Username = 'POTUS'
# t.Search = 'Potato'
# t.Geo = "1.290270,103.851959,15km"
t.Username = "hmetromy"

t.Since="2022-01-01"
# t.Until="2021-09-11"

# t.Limit = 10 

t.Lang = "en"
    
t.Filter_retweets = True 

t.Store_csv = True
t.Output = "hmetromy_tweets.csv"

t.Pandas = True

t.Custom["tweet"] = ["tweet", "username", "date", "time", "likes_count"]

twint.run.Search(t)

# Tweepy