snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [8]:
# Creating list to append tweet data 
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
handle = 'hmetromy'

# declare a username 
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('from:' + handle).get_items()): 
    if i > 2000: #number of tweets you want to scrape
        break
        
    #declare the attributes to be returned
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [9]:
tweets_df1.shape

(2001, 4)

In [10]:
tweets_df1.head()

,Datetime,Tweet Id,Text,Username
0,2022-02-18 06:00:20+00:00,1494552340694814728,#KotaBharu Kehilangan wanita berusia 26 tahun ...,hmetromy
1,2022-02-18 05:59:17+00:00,1494552077481267203,"#Baling Kisah Ismaniza Fahida, 40, tular baru-...",hmetromy
2,2022-02-18 05:31:03+00:00,1494544971566915585,"#JohorBahru Presiden AMANAH, Mohamad Sabu berk...",hmetromy
3,2022-02-18 05:05:18+00:00,1494538494508687402,#KualaLumpur Mahkamah memerintahkan tertuduh d...,hmetromy
4,2022-02-18 05:04:22+00:00,1494538257333379087,"#Pitas Eddword berkata, jambatan gantung itu j...",hmetromy

# Translating Malay Tweets to English

In [5]:
!pip install googletrans==3.1.0a0

Requirement already satisfied: googletrans==3.1.0a0 in c:\users\darren\anaconda3\lib\site-packages (3.1.0a0)
Requirement already satisfied: httpx==0.13.3 in c:\users\darren\anaconda3\lib\site-packages (from googletrans==3.1.0a0) (0.13.3)
Requirement already satisfied: chardet==3.* in c:\users\darren\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Requirement already satisfied: hstspreload in c:\users\darren\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2021.12.1)
Requirement already satisfied: sniffio in c:\users\darren\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.2.0)
Requirement already satisfied: httpcore==0.9.* in c:\users\darren\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (0.9.1)
Requirement already satisfied: certifi in c:\users\darren\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2020.12.5)
Requirement already satisfied: rfc3986<2,>=1.3 in c:\users\darren\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.5.0)
Requirement already satisfied: idna==2.* in c:\users\darren\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Requirement already satisfied: h2==3.* in c:\users\darren\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.2.0)
Requirement already satisfied: h11<0.10,>=0.8 in c:\users\darren\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (0.9.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in c:\users\darren\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in c:\users\darren\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.0.0)

In [11]:
from googletrans import Translator
import pandas as pd
translator = Translator()



tweets_df1['Translated Text'] = tweets_df1['Text'].apply(translator.translate,src='ms',dest='en').apply(getattr,args=('text',))

tweets_df1.head()

,Datetime,Tweet Id,Text,Username,Translated Text
0,2022-02-18 06:00:20+00:00,1494552340694814728,#KotaBharu Kehilangan wanita berusia 26 tahun ...,hmetromy,#KotaBharu The 26 -year -old woman's disappear...
1,2022-02-18 05:59:17+00:00,1494552077481267203,"#Baling Kisah Ismaniza Fahida, 40, tular baru-...",hmetromy,"#Baling Kisah Ismaniza Fahida, 40, became infe..."
2,2022-02-18 05:31:03+00:00,1494544971566915585,"#JohorBahru Presiden AMANAH, Mohamad Sabu berk...",hmetromy,"#JohorBahru AMANAH President, Mohamad Sabu sai..."
3,2022-02-18 05:05:18+00:00,1494538494508687402,#KualaLumpur Mahkamah memerintahkan tertuduh d...,hmetromy,#KualaLumpur The court ordered the accused to ...
4,2022-02-18 05:04:22+00:00,1494538257333379087,"#Pitas Eddword berkata, jambatan gantung itu j...",hmetromy,"#Pitas Eddword said, the suspension bridge is ..."

In [ ]:
result = translator.translate('Mitä sinä teet' , dest='en')

print(result)

In [ ]:
translation = translator.translate("Wie gehts ?", src="de")
print(f"{translation.origin} ({translation.src}) --> {translation.text} ({translation.dest})")

In [ ]:
translation = translator.translate("Hola Mundo", src="es")
print(f"{translation.origin} ({translation.src}) --> {translation.text} ({translation.dest})")

# Saving Tweet Dataframe to a CSV file

In [12]:
tweets_df1.to_csv("hmetromy_tweets.csv", index = False)

# Twint

In [ ]:
import pandas as pd
import twint
import nest_asyncio
nest_asyncio.apply()
  
t = twint.Config()

# t.Username = 'POTUS'
# t.Search = 'Potato'
# t.Geo = "1.290270,103.851959,15km"
t.Username = "hmetromy"

t.Since="2022-01-01"
# t.Until="2021-09-11"

# t.Limit = 10 

t.Lang = "en"
    
t.Filter_retweets = True 

t.Store_csv = True
t.Output = "hmetromy_tweets.csv"

t.Pandas = True

t.Custom["tweet"] = ["tweet", "username", "date", "time", "likes_count"]

twint.run.Search(t)

# Tweepy